* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
	height: 100%;
    overflow-x: hidden;
}

main {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    background-color: rgba(255, 204, 237, 0.8);
}



.searchphoto {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    z-index: 0;
}

.inputphoto {
    width: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    font-size: 20px;

}

.searchbutton {
    padding: 0.5rem 3rem;
    margin-left: 10px;
    margin-bottom: 10px;
    background: rgb(28, 132, 28);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.next {
    position: fixed;
    top: 85%;
    right: 3%;
    padding: 5px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    cursor: pointer;
    background: none;
}

.gallery {
    width:90%;
    margin: 12vh 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5,200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}

.gallery section {
    position: relative;
}

.gallery img{
    margin-left: 5px;
    height: 300px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.gallery a {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: underline;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}