
* {
    margin: 0;
    padding: 0;
}

html {
	height: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    height: 100%;
}

.welcome {
    background-image: url(../img/fon4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 403px;
    padding: 160px;
}

.title{
    color: #029907;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 84px;
    justify-content: center;
    text-align: center;
    padding: 76px;
}

.start-section {
    background-image: url(../img/fon5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 403px;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
blockquote, p{
    text-align: center;
    font-size: 30px;
}


button{
    background-color: #029907;
    color: white;
    font-size: 30px;
    padding: 20px 40px;
    border-radius: 8px;
    transition: 0.7s linear;
}
button:hover{
    border-radius: 20px;
    background-color: #89e093;
}
